<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not Found</title>

</head>
<body>
    <div class="container" style="text-align: center;">
        <div>
            <img src="https://i.ibb.co/VmW7t5m/NotFound.png" alt="404 Error" />
        </div>
    </div>
</body>
</html>
